article {
    display: block;
}
#intro {
    position: relative;
    width: 40rem;
    max-width: 100%;
    background-color: white;
    border-radius: 4px;
    padding: 4.5rem 2.5rem 1.5rem 2.5rem;
}
.image.main img{
    justify-content: center;
    width: 80%;
   
}
.image img {
    display: block;
}