@media screen {
    html, body {
        /*width:1050px; /* base de test et de mesures */
        margin: .75em 1%; /* 12px/16px 12px/1050px  */
        font-family: Arial, Helvetica, sans-serif;
        /* font-size : 16px;  /* pour test ==> défini dans chaque media query */
    }
        /* titre */
        body > header {
            font-size: large;
            font-weight: bold;
            color: black;
            margin-bottom: 1em; /*50px/3em;*/
        }

}

h1 {
    text-align: center;
    color: blueviolet;
    font-size: larger;
}

li {
    font-size: large;
    font-weight: bold;
    color: black;
    margin-bottom: 1em;
}
